* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
body,
html {
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

.grid {
  width: 90vmin;
  height: 90vmin;
  position: fixed;
  top: 5vmin;
  left: 2vmin;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  width: 90vmin;
  height: 10vmin;

  &:nth-child(4),
  &:nth-child(7) {
    border-top: 4px #000 solid;
  }
}

.cell {
  width: 10vmin;
  height: 10vmin;
  border: 1px #000 solid;
  display: inline-grid;
  place-items: center;
  font-size: 8vmin;
  background-color: #fff;
  @keyframes mark {
    from {
      background-color: var(--hl-clr);
    }
  };

  &[highlight] {
    animation: mark 1s ease-out;

    &[set] {
      --hl-clr: #afa;
    }

    &[clear] {
      --hl-clr: #faa;
    }
  }

  &:nth-child(4),
  &:nth-child(7) {
    border-left-width: 4px;
  }
}

.ui {
  position: fixed;
  width: min(calc(100vw - 94vmin),20vmin);
  height: 80vmin;
  top: 5vmin;
  left: 92vmin;

  > * {
    display: block;
    width: 100%;
    min-height: 5vmin;
    border: 1px #000 solid;
    background-color: #aaa;
    cursor: pointer;

    &[disabled] {
      background-color: #888;
      cursor: progress;
    }
  }
}